* {
    font-family: Inter;
}

body {
    margin: 0px;
    padding: 0px;
    font-size: 1.2rem;
    font-family: Inter;
    
    background-color: #FFF;
}

.header {
    background-color: #32325D;

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999px;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.5);

    display: flex;
    flex-wrap: wrap;
    justify-content: first baseline;
    padding: 20px;
    padding-left: 168px;
    align-items: center;
    gap: 10px;
}

.tittle img {
    padding: 5px;

}

.header span {
    color: #FFF;
    font-size: 24px;
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.tittle {

    width: 221px;
    height: 50px;


    display: inline-flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    margin-left: 165px;
    margin-top: 100px;
    gap: 10px;

}

.tittle h1 {

    color: #3A4F9A;
    font-size: 36px;
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 3.6px;
    
    margin-bottom: 5px;
    padding-bottom: 0px;
    text-align: left;


}

.grid {
    margin: 10px 200px 100px 300px;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 1400px;
    padding: 10px;
    align-items: center;
    text-align: center;
    justify-content: center;
    grid-gap: 90px;

}

.grid img {
    max-width: 100%;
    height: 100%;
    max-height: 300px;
    width: 500px;
    
}

.grid div {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    width: 480px;
    height: 550px;

    border-radius: 8px;
    max-height: 800px;
    margin-left: 64px;

    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.25);
}

.grid button {
    background: none;
    margin-left: 350px;
    padding: 0.5rem 1rem;
    text-transform: uppercase;
    border-radius: 32px;
    border: 0;
    cursor: pointer;


    color: #3A4F9A;
    font-size: 13px;
    font-family: Inter;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 1.3px;

}

.grid button a{
    color: #3A4F9A;
    text-decoration: none;
}


.grid h2 {
    
    margin-top: 30px;
    margin-right: 260px;
    margin-bottom: 15px;
    color: #3A4F9A;
    font-size: 20px;
    font-family: Inter;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 2px;
}

.grid .post1 {
    width: 300px;
    margin-left: -2px;
}

.grid .post2 {
    width: 380px;
    margin-left: 245px;
}

.grid .post3 {
    width: 380px;
    margin-left: 50px;
}

.grid .post4 {
    width: 380px;
    margin-left: -10px;
}

.grid .post5 {
    width: 380px;
    margin-left: 50px;
}

.grid .post6 {
    width: 380px;
    margin-left: -70px;
}
.grid p {
    display: flex;
    width: 380px;
    height: 110px;
    flex-direction: column;
    text-align: justify;
    

    color: #575757;
    font-size: 13px;
    font-family: Inter;
    font-style: normal;
    font-weight: 300;
    line-height: 20px;
    letter-spacing: 1.3px;
    word-wrap: break-word;
}

